{
  "LOGGING_LEVEL": "INFO",
  "TELEGRAM_BOT_TOKEN": "YOUR-BOT-TOKEN-HERE",
  "TELEGRAM_BOT_NAME": "YOUR-BOT-USERNAME-HERE",
  "REQUEST_KWARGS": {
    "proxy_url": "YOUR-PROXY-HOST-HERE-IF-NEEDED:YOUR-PROXY-PORT-HERE-IF-NEEDED"
  },
  "COINS": [
    {
      "TICKER": "YOUR-COIN-TICKER",
      "NAME": "YOUR-COIN-NAME",
      "MINIMUM_WITHDRAW": 1,
      "WITHDRAWAL_FEE": 1,
      "RPC_CONFIGURATION": {
        "username": "YOUR-RPC-USERNAME",
        "password": "YOUR-RPC-PASSWORD",
        "host": "YOUR-RPC-IP",
        "port": "YOUR-RPC-PORT"
      },
      "BLOCKCHAIN_EXPLORER": {
        "url": "YOUR-COIN-BLOCKCHAIN-EXPLORER-URL",
        "tx_prefix": "URL-PART-FOR-GETTING-TRANSACTION",
        "address_prefix": "URL-PART-FOR-GETTING-ADDRESS"
      }
    }
  ],
  "COINMARKETCAP_API_TOKEN": "YOUR-COINMARKETCAP-API-TOKEN-HERE",
  "COINMARKETCAP_CACHE_UPDATE_INTERVAL": 180,
  "CHAT_ACTIVITY_TIME": 28800‬
}